* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  color: #17d4fe;
  padding: 2.5rem 3rem;
  background-color: #ff9102;
  width: 100%;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
h1:hover {
  text-shadow: 0 0 5px #02ffff, 0 0 15px #02ffff;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-transform: uppercase;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
  color: #17d4fe;
}

.feature_image {
  position: relative;
  background-size: cover;
  background-position: left;
  height: 100vh;

  border-bottom: #fff 2px solid;
}

.image-banger1 {
  background-image: url("../image/banger1.jpg");
}

.image-banger2 {
  background-image: url("../image/banger2.jpg");
}

.image-banger3 {
  background-image: url("../image/banger3.jpg");
}

.post-meta {
  position: absolute;
  bottom: 10%;
  left: 3rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  max-width: 80%;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
}

.post-meta__tagline {
  text-transform: uppercase;
  font-weight: 100;
  opacity: 1;
  font-size: 1.2rem;
}

.post-meta__heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.post-meta__more {
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  color: #17d4fe;
  border: 2px solid #ff9102;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: #ff9102;
}

.post-meta__more:hover {
  background-color: #fff;
  color: #000;
  border-color: tomato;
}

footer {
  background: #ff9102;
  text-align: center;
  color: black;
  padding: 40px;
}

.clock {
  position: absolute;
  top: 120%;
  left: 9%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 40px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
.clock:hover {
  color: #ff9102;
}
.clock:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}
.clock {
  text-shadow: 0 0 20px #17d4fe, 0 0 30px #17d4fe, 0 0 40px #17d4fe;
}
.clock:hover {
  text-shadow: 0 0 20px #ff9102, 0 0 30px #ff9102, 0 0 40px #ff9102;
}

audio {
  display: block;
  margin: 30px auto;
  background-color: #ff9102;
  border: 3px solid #02ffff;
  border-radius: 20px;
}
audio:hover {
  border-color: #ff9102;
}
#myBtn:hover {
  background-color: #02ffff; /* Add a dark-grey background on hover */
}
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ff9102; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
